<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
			 xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
			 xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
			 xmlns:tool="http://www.springframework.org/schema/tool" xmlns:beans="http://www.springframework.org/schema/beans"
			 xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-3.0.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd"
			 default-lazy-init="true">


	<!--<http security="none" pattern="/index.html" />-->
	<!-- 因为要使用自己的权限验证规则，所以这里要配置access-decision-manager-ref
     实际上，我只是在accessDecisionManager中增加了一个投票器，其它的属性都比较简单，不多说了 -->
	<http auto-config="true" use-expressions="true"
		  access-denied-page="/index.do">
		<!-- intercept-url:拦截器,可以设定哪些路径需要哪些权限来访问. filters=none 不使用过滤,也可以理解为忽略 -->
		 <!--允许登录用户和rememberMe用户进入 -->
		<intercept-url pattern="/login.do*" access="hasRole('ROLE_USER')" />
		<!--<intercept-url pattern="/shopitem/review.html" access="hasRole('ROLE_USER')" />-->


		<!-- logout-success-url:成功注销后跳转到的页面; -->
		<logout logout-url="/logout.html" invalidate-session="true"
				logout-success-url="/login.html" />
		<!--
11             login-page:默认指定的登录页面.
12             authentication-failure-url:出错后跳转页面.
13             default-target-url:成功登陆后跳转页面 默认登录保护url
             always-use-default-target：指定了是否在身份验证通过后总是跳转到default-target-url属性指定的URL。
14         -->
		<form-login login-page="/"
					default-target-url="/"
					always-use-default-target="true"
					authentication-failure-url="/login.html?error=1" />

		<remember-me  />

		<session-management>
			<concurrency-control max-sessions="1" />
		</session-management>
	</http>



	<!-- Automatically receives AuthenticationEvent messages -->
	<beans:bean id="loggerListener"
				class="org.springframework.security.authentication.event.LoggerListener" />

	<!-- 认证管理器，使用自定义的UserDetailsService，并对密码采用md5加密-->
	<authentication-manager erase-credentials="false">
		<authentication-provider user-service-ref="userService">
			<!--<password-encoder hash="md5" />-->
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="userService" class="com.lanson.common.security.UserService" />

	<!--&lt;!&ndash; remember me Configuration start &ndash;&gt;-->
	<!--<beans:bean id="rememberMeServices"-->
				<!--class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">-->
		<!--<beans:property name="userDetailsService" ref="userService" />-->
		<!--<beans:property name="key" value="springsecurityCookies1" />-->
		<!--<beans:property name="alwaysRemember" value="false"></beans:property>-->
		<!--<beans:property name="tokenValiditySeconds" value="1209600"></beans:property>-->
		<!--<beans:property name="parameter" value="_spring_security_remember_me"></beans:property>-->
	<!--</beans:bean>-->

	<!--<beans:bean id="rememberMeAuthenticationProvider"-->
				<!--class="org.springframework.security.authentication.RememberMeAuthenticationProvider">-->
		<!--<beans:property name="key" value="springsecurityCookies1" />-->
	<!--</beans:bean>-->

	<!--<beans:bean id="myAccessDecisionManager"-->
				<!--class="com.lanson.common.security.MyAccessDecisionManager">-->
	<!--</beans:bean>-->

	<!--&lt;!&ndash; 访问决策管理器，这里使用AffirmativeBased，并加入一个自定义的投票器DynamicRoleVoter &ndash;&gt;-->
	<!--<beans:bean id="accessDecisionManager"-->
				<!--class="org.springframework.security.access.vote.AffirmativeBased">-->
		<!--<beans:property name="decisionVoters">-->
			<!--<beans:list>-->
				<!--<beans:bean class="org.springframework.security.access.vote.RoleVoter" />-->
				<!--<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter" />-->
		    	<!--<beans:bean class="com.lanson.common.security.DynamicRoleVoter" />-->
			<!--</beans:list>-->
		<!--</beans:property>-->
	<!--</beans:bean>-->
</beans:beans>